body {
  background-color: antiquewhite;
  color: sienna;
  font-family: Arial, Helvetica, sans-serif;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  margin: 0;
  padding: 1em;
}
.cart {
  background-color: chocolate;
}
.gallery > * {
  background-color: burlywood;
  padding: 1em;
}
.gallery > * img {
  max-width: 8em;
  max-height: 8em;
}
